.introducao{
    padding-top: 100px;
    max-width: 1400px;
    padding: 120px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 300px;
    align-items: center;
    margin-bottom: 6.25rem;
}

.introducao h1{
    font-size: 3.8rem;
    line-height: 1.3;
    font-family: "Playfair Display", serif;
    color: #101010;
}

.introducao p{
    font-family: "Inter", sans-serif;
    color: #101010;
    font-size: 1.2rem;
}

@media (max-width: 1300px){
    .introducao{
        grid-template-columns: 1fr 1fr;
        gap: 80px;
        line-height: 1.3;
    }
}

@media (max-width: 1024px){

    .introducao h1{
        font-size: 2.5rem;
        margin-top: 0;
    }

    .introducao p{
        font-size: 1rem;
    }

    .introducao img{
        max-width: 70%;
        margin: 0 auto;
    }
}

@media (max-width: 635px){

    .introducao{
        position: relative;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .introducao h1{
        font-size: 2.5rem;
        margin-top: 0;
    }

    .introducao p{
        font-size: 1.5rem;
    }

    .introducao img{
        max-width: 70%;
        margin: 0 auto;
    }
}

@media (max-width: 425px){

    .introducao{
        position: relative;
        grid-template-columns: 1fr 2fr;
        text-align: center;
        padding: 10px 20px;
    }

    .introducao h1{
        font-size: 1rem;
        margin-top: 0;
    }

    .introducao p{
        font-size: 0.9rem;
    }

    .introducao img{
        max-width: 70%;
        margin: 0 auto;
    }
}


@media (max-width: 320px){

    .introducao{
        position: relative;
        grid-template-columns: 1fr;
        text-align: center;
        padding: 10px 20px;
    }

    .introducao h1{
        font-size: 1.3rem;
        margin-top: 0;
    }

    .introducao p{
        font-size: 0.7rem;
    }

    .introducao img{
        max-width: 70%;
        margin: 0 auto;
    }
}